*{
			box-sizing: border-box;

		}
		body{
			font-family:Arial;
			margin: 0;

		}
		.Header{
			padding: 100px;
            text-align: center;
			background-image: url("images/k.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-attachment: fixed; 
            background-size: 100% 100%;
			}
		.navbar {
          display: flex;
          background-color: #333;
       }


      .navbar a {
      color: white;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
   }

    .navbar a:hover {
     background-color: #ddd;
     color: black;
    }
    .row{
    	display: flex;
    	flex-wrap: wrap;

    }
    .side{
    	flex: 30%;
    	background-color: #f1f1f1;
    	padding: 20px;

    }
    .main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}


.fakeimg {
		background-image: url("images/k.jpg"); 
	    width: 100%;
       padding: 20px;
} 


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  		background-image: url("images/mist.jpg"); 

}
